/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/dist/
/WebApplication_02/build/
/WebApplication_03A/nbproject/private/
/WebApplication_03A/build/
/WebApplication_03B/nbproject/private/
/WebApplication_03B/build/
/WebApplication_03C/nbproject/private/
/WebApplication_03C/build/
/WebApplication_04A/nbproject/private/
/WebApplication_04A/build/
/WebApplication_05_A/nbproject/private/
/WebApplication_05_A/dist/
/WebApplication_05_A/build/
/FeastOrderManagement/nbproject/private/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/250206_Test/nbproject/private/
/250206_Test/build/
/WebApplication_07_A/nbproject/private/
/WebApplication_07_A/build/
/WebApplication_07_B/nbproject/private/
/WebApplication_07_B/build/
/WebApplication_JPS_7C/nbproject/private/
/WebApplication_JPS_7C/build/
/WebApplication_8/nbproject/private/
/WebApplication_8/build/